@import "intro";

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.example-wrapper {
    position: relative;
}
.example-wrapper > div {
    position: absolute;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}



@keyframes loader {
    19% {
        bottom: 0;
        transform: scale(1.25, 0.25);
    }

    21% {
        bottom: 10.8px;
    }

    26% {
        bottom: 18.9px;
    }

    33% {
        bottom: 23.76px;
    }

    34% {
        transform: scale(0.8, 1.13);
    }

    39% {
        bottom: 25.92px;
    }

    45% {
        bottom: 27px;
    }

    49% {
        bottom: 27px;
    }

    52% {
        bottom: 24.84px;
    }

    54% {
        transform: scale(1, 1);
    }

    56% {
        bottom: 19.98px;
    }

    61% {
        bottom: 12.96px;
    }

    64% {
        bottom: 7.02px;
    }

    67% {
        bottom: 1.89px;
    }

    68% {
        transform: scale(1, 0.8);
        bottom: 0;
    }

    73% {
        transform: scale(1.5, 0.25);
    }

    88% {
        transform: scale(1, 1);
    }
}

body {
  margin: 0;
  padding: 0;
}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 30;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-color: #6114CC;
    transition: opacity .3s ease-in-out;
}

.page-loading-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-loading-icon li {
    position: relative;
    width: 12px;
    height: 39px;
    display: inline-block;
    margin-left: 9px;
}

.page-loading-icon li:first-child {
    margin-left: 0;
}

.page-loading-icon li div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: #F8F8F8;
    animation: loader 1.5s infinite;
    transform-origin: 50% bottom;
}

.page-loading-icon li:nth-child(2) div {
    animation-delay: .08s;
}

.page-loading-icon li:nth-child(3) div {
    animation-delay: .16s;
}

.page-loading-icon li:nth-child(4) div {
    animation-delay: .24s;
}